{
  "the things network": {
    "region": "USA",
    "device address": "AABBCCDD",
    "network session key": "00112233445566778899AABBCCDDEEFF",
    "app session key": "00112233445566778899AABBCCDDEEFF"
  }
}